@model Kanban_RMR.Models.Ticket

<h1>Add a Ticket</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Project" class="control-label"></label>
        <input asp-for="Project" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Type" class="control-label"></label>
        <select asp-for="Type" asp-items="ViewBag.Types" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label"></label>
        <select asp-for="Status" asp-items="ViewBag.Statuses" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="Priority" class="control-label"></label>
        <select asp-for="Priority" asp-items="ViewBag.Priorities" class="form-control"></select>
    </div>

    <div class="form-group">
        <input asp-for="Customer" class="form-control" readonly="readonly" value=@ViewBag.Customer type="hidden" />
    </div>
    <div class="form-group">
        <input asp-for="CreatedBy" class="form-control" readonly="readonly" value=@ViewBag.CreatedBy type="hidden" />
    </div>
    <div class="form-group">
        <input asp-for="CreatedOn" class="form-control" readonly="readonly" value=@ViewBag.CreatedOn type="hidden" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
