@model Kanban_RMR.Models.Ticket

<h1>Add a Ticket</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Project" class="control-label"></label>
        <select asp-for="ProjectId" asp-items="ViewBag.Projects" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="Type" class="control-label"></label>
        <select asp-for="TypeId" asp-items="ViewBag.Types" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="Priority" class="control-label"></label>
        <select asp-for="PriorityId" asp-items="ViewBag.Priorities" class="form-control"></select>
    </div>

    <div class="form-group">
        <input asp-for="StatusId" class="form-control" readonly="readonly" value=1 type="hidden" />
    </div>
    <div class="form-group">
        <input asp-for="Index" class="form-control" readonly="readonly" value=@ViewBag.Index type="hidden" />
    </div>
    <div class="form-group">
        <input asp-for="CustomerId" class="form-control" readonly="readonly" value=@ViewBag.CustomerId type="hidden" />
    </div>
    <div class="form-group">
        <input asp-for="CreatedBy" class="form-control" readonly="readonly" value=@ViewBag.CreatedBy type="hidden" />
    </div>
    <div class="form-group">
        <input asp-for="CreatedOn" class="form-control" readonly="readonly" value=@ViewBag.CreatedOn type="hidden" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
